<ion-menu [content]="content">

  <ion-content>
    <div class="facebook-container" *ngIf="!logado">
      <button menuClose style="background-color: #3b5997" ion-button full (click)="login()" ><ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;Login com Facebook</button>
    </div>
    <ion-list *ngIf="logado">
      <ion-item class="avatar-menu" color="primary">
        <ion-avatar item-start>
          <img style="height: 23vw; width:23vw" [src]="user.photoURL">
        </ion-avatar>
        <h2>{{user.displayName}}</h2>
      </ion-item>
    </ion-list> 
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="sair()" *ngIf="logado">
        <ion-icon name="log-out"></ion-icon>
        Sair
      </button>
    </ion-list>
    <div menuClose class="contato" padding-left (click)="goToContato()" >
      <p><b>Entre em contato</b></p>
    </div>
  </ion-content>
  
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>