page-mesas {
    ion-col{
        background-color: #a5d6a7;
        margin: 20px;
        font-size: 8vw;
        height: 20vw;
        align-items: center;
        padding-top: 6vw;
    }

    .comanda_aberta{
        background-color: #e65100;
    }
}
